/* Estilos Generales */
    /* Container General */
    .container {
        height: 100vh;
        padding-top: 75px;
        padding-bottom: 50px;
    }

/* Login Component */

    /* Container Login */
    #login {
        max-width: 300px;
    }

    /* Form Img */
    #login-form header .img-fluid {
        max-width: 150px;
    }

    /* Form Inputs */
    #login-form .input-group input {
        border: none !important;
        border-left: 2px solid transparent !important;
    }

    #login-form .input-group input:focus {
        box-shadow: none !important;
        border-left-color: hsl(245, 38%, 29%, .25) !important;
    }

    #login-form .input-group input, #login-form .input-group input::placeholder {
        transition: .35s ease;
    }

    #login-form .input-group input:focus, #login-form .input-group input:focus::placeholder {
        color: hsl(246, 41%, 40%) !important;
    }  

    #login-form .input-group span i {
        transition: .5s ease !important;
    }

    #login-form .input-group:focus-within span {
        transition: .35s ease;
    }

    #login-form .input-group:focus-within span i {
        color: hsl(246, 41%, 40%) !important;
    }

    /* Form Submit */
    #login-form button[type='submit'] {
        background-color: #3b347c !important;
    }

    #login-form button[type='submit']:hover {
        background-color: hsl(246, 41%, 40%) !important; 
    }

    #login-form button[type='submit']:focus {
        border-color: transparent !important;
    }

    /* Remember Me */
    #login-form #rememberMe {
        background-color: hsl(246, 41%, 45%) !important;
    }

    #login-form #rememberMe:focus {
        box-shadow: none !important;
    }

    #login-form .form-check label {
        transition: .3s ease;
    }

    #login-form .form-check:hover label {
        color: rgba(255, 255, 255, 0.75) !important;
    }

    /* Error */
    #login .alert span {
        font-size: 14px !important;
    }

    #login .btn-close {
        font-size: 14px !important;
        color: hsl(354, 61%, 21%) !important;
    }

    #login .btn-close:focus {
        box-shadow: none !important;
    }

/* Products Component */
    #products h2 {
        color: hsl(246, 39%, 95%)
    }

    #products .row {
        gap: 60px 0px;
    }

    /* Filter */
    #products .filter {
        background-color: hsl(246, 39%, 7.5%);
        border-radius: 10px;
        color: hsl(246, 39%, 90%);
    }

    /* Card Product */
    #products .card {
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    #products .card-img-top {
        object-fit: cover;
        width: auto;
        height: 250px;
    }

    #products .card-body {
        background-color: hsl(246, 39%, 7.5%);
    }

    #products .card-body .card-title {
        font-size: 1.85vw;
        color: hsl(246, 39%, 90%);
    }

    #products .card-body .card-text {
        color: hsl(246, 39%, 90%);
    }
    
    #products .card-body .card-btn {
        height: 100%;
        display: flex;
    }

    #products .card-body .card-btn .btn {
        align-self: flex-end;
        background-color: hsl(246, 39%, 30%);
    }

    #products .card-body .card-btn .btn:hover {
        background-color: hsl(246, 39%, 40%);
    }

    /* Pagination Product */
    #products .pagination .page-item {
        width: 45px !important;
    }
    #products .pagination .page-item .page-link:focus {
        box-shadow: none !important;
        background-color: hsl(246, 39%, 90%);
    }

    #products .pagination .page-item .page-link {
        color: hsl(246, 39%, 30%) !important;
        border-color: hsl(246, 39%, 30%) !important;
        background-color: transparent !important;
        height: 40px !important;
    }

    /* Con esto no utilizo bordes innecesarios y arreglo el problema del gorde grueso */
    #products .pagination .page-item .page-link:not([aria-label='Next'], [aria-label='Previous']) {
        border-left: none !important;
        border-right: none !important;
    }

    #products .pagination .page-item .page-link:hover {
        color: hsl(246, 38%, 95%) !important;
        border-color: hsl(246, 39%, 40%) !important;
        background-color: hsl(246, 39%, 40%) !important;
    }

    #products .pagination .page-item.active .page-link {
        color: hsl(246, 38%, 95%)!important;
        border-color: hsl(246, 39%, 30%) !important;
        background-color: hsl(246, 39%, 30%) !important;
    }

