<style>
    body {background-color: hsl(246, 39%, 25%)}
</style>
<main id="products">
<img class="banner" data-bind="attr: { src: banner.src, alt: banner.alt }">

<section  class="container">
    <div data-bind="if: isDataLoaded">
        <!-- Muestro los productos si hay -->
        <div data-bind="if: allProducts().length">
            <nav class="d-flex justify-content-between align-items-center mb-3">
                <div class="sort">
                    <button data-bind="click: handleShowOptions" class="btn btn-md d-flex gap-2 align-items-center p-0">
                        <i class="bi"></i>
                        <span>Ordenar:</span>
                        <span data-bind="text: actualOption"></span>
                    </button>

                    <ul class="options rounded-2" data-bind="if: showOptions">
                        <div data-bind="foreach: options">
                            <li class="option" data-bind="text: $data"></li>
                        </div>
                    </ul>
                </div>

                <a href="#/create" class="btn btn-md add text fw-bold d-flex gap-2">Add Product <i class="bi bi-plus-circle-fill"></i></a>
            </nav>

            <!-- Productos -->
            <main class="row row-cols-3" data-bind="foreach: batchProducts()[actualPage()]">
                <!-- Producto -->
                <article class="col" >
                    <div class="card border-0">
                        <img class="card-img-top" data-bind="attr: { src: pictures, alt: name }, event: { error: $parent.errorImg }" />
                    
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title" data-bind="text: name"></h3>
                            <p class="card-text description" data-bind="text: description"></p>
                            <p class="card-text price"><strong><span data-bind="text: price"></span></strong></p>
                            <div class="card-btn">
                                <a href="#" class="btn text-white">View Details</a>
                            </div>
                        </div>
                    </div>
                </article>
            </main>

            <!-- Pagination -->
            <nav aria-label="Page navigation" class="py-5">
                <ul class="pagination justify-content-center mb-0">
                    <div data-bind="if: isPrevPage()" class="d-flex">
                        <li class="page-item text-center" data-bind="click: () => handlePagination('prev')">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item text-center" data-bind="click: () => handlePagination(prevPage())">
                            <a class="page-link rounded-0" href="#" data-bind="text: prevPage()"></a>
                        </li>
                    </div>
                    <li class="page-item text-center active" data-bind="click: () => handlePagination(actualPage())">
                        <a class="page-link" href="#" data-bind="text: actualPage()"></a>
                    </li>
                    <div data-bind="if: isNextPage()" class="d-flex">
                        <li class="page-item text-center" data-bind="click: () => handlePagination(nextPage())">
                            <a class="page-link rounded-0" href="#" data-bind="text: nextPage()"></a>
                        </li>
                        <li class="page-item text-center" data-bind="click: () => handlePagination('next')">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
    <div data-bind="ifnot: isDataLoaded">
        <main class="skeleton row row-cols-3">
            <!-- Producto -->
            <article class="col" >
                <div class="card border-0 loading-product">
                    <span class="card-img-top"></span>
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title"></h3>
                        <p class="card-text description"></p>
                        <p class="card-text price"><strong><span></span></strong></p>
                        <a href="#" class="btn text-white"></a>
                    </div>
                </div>
            </article>
            <article class="col" >
                <div class="card border-0 loading-product">
                    <span class="card-img-top"></span>
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title"></h3>
                        <p class="card-text description"></p>
                        <p class="card-text price"><strong><span></span></strong></p>
                        <a href="#" class="btn text-white"></a>
                    </div>
                </div>
            </article>
            <article class="col" >
                <div class="card border-0 loading-product">
                    <span class="card-img-top"></span>
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title"></h3>
                        <p class="card-text description"></p>
                        <p class="card-text price"><strong><span></span></strong></p>
                        <a href="#" class="btn text-white"></a>
                    </div>
                </div>
            </article>
        </main>
    </div>
</section>

</main>