<div class="container" id="products">
    <img class="banner" data-bind="attr: { src: banner.src, alt: banner.alt }">
    <div data-bind="if: isDataLoaded && allProducts().length">
        <!-- Show Products if there is product data -->
        <nav class="d-flex justify-content-between align-items-center mb-3">
            <div data-bind='event: { mouseenter: handleShowOptions, mouseleave: handleShowOptions }' class="sort">
                <button class="btn btn-md d-flex gap-2 align-items-center p-0">
                    <i class="bi"></i>
                    <span>Sort</span>
                    <span data-bind="text: actualOption"></span>
                </button>

                <ul class="options rounded-2" data-bind="if: showOptions" >
                    <div data-bind="foreach: options">
                        <div data-bind="click: () => $parent.selectOption($data.title)" class="option d-flex align-items-center justify-content-between">
                            <li data-bind="text: $data.title">
                            </li>

                            <i data-bind="attr: { 'aria-label': $data.type }" class="bi"> </i>
                        </div>
                    </div>
                </ul>
            </div>

            <a href="#/create" class="btn btn-md add text fw-bold d-flex gap-2 large">Add Product <i class="bi bi-plus-circle-fill"></i></a>
            <a href="#/create" class="btn btn-md add text fw-bold d-flex gap-2 small">Add<i class="bi bi-plus-circle-fill"></i></a>
        </nav>

        <!-- Products -->
        <main class="products" data-bind="foreach: batchProducts()[actualPage()]">
            <!-- Product -->
            <article class="product card border-0" >
                <div data-bind="attr: {id: 'carousel-' + $index()}" class="carousel slide">
                    <div class="carousel-inner" data-bind="foreach: pictures">
                      <div class="carousel-item" data-bind="css: $index() === 0 ? 'active' : ''">
                        <img data-bind="attr: { src: $data, alt: name }, event: { error: $root.errorImg }"
                            class="w-100 card-img-top">
                      </div>
                    </div>

                    <div data-bind="if: pictures.length > 1">
                        <a class="carousel-control-prev" type="button" data-bs-slide="prev" data-bind="attr: {href: '#carousel-' + $index()}">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                        <a class="carousel-control-next" type="button" data-bs-slide="next" data-bind="attr: {href: '#carousel-' + $index()}">
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body d-flex flex-column">
                    <h3 class="card-title" data-bind="text: name"></h3>
                    <p class="card-text description" data-bind="text: description"></p>
                    <p class="card-text price"><strong><span data-bind="text: pricing"></span></strong></p>
                    <p class="card-text sku" data-bind="text: 'SKU: ' + sku"></p>
                </div>
            </article>
        </main>

        <!-- Pagination -->
        <nav aria-label="Page navigation" class="py-5">
            <ul class="pagination justify-content-center mb-0 rounded-2">
                <div data-bind="if: isPrevPage()" class="d-flex">
                    <div data-bind="if: actualPage() - 1 > 1">
                        <li class="page-item text-center" data-bind="click: () => handlePagination('prev')">
                            <a class="page-link rounded-0" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    </div>
                    <li class="page-item text-center" data-bind="click: () => handlePagination(prevPage())">
                        <a class="page-link rounded-0" href="#" data-bind="text: prevPage()"></a>
                    </li>
                </div>
                <li class="page-item text-center active" data-bind="click: () => handlePagination(actualPage())">
                    <a class="page-link" href="#" data-bind="text: actualPage()"></a>
                </li>
                <div data-bind="if: isNextPage()" class="d-flex">
                    <li class="page-item text-center" data-bind="click: () => handlePagination(nextPage())">
                        <a class="page-link rounded-0" href="#" data-bind="text: nextPage()"></a>
                    </li>
                    <div>
                    <div data-bind="if: nextPage() !== totalPages() - 1">
                        <li class="page-item text-center" data-bind="click: () => handlePagination('next')">
                            <a class="page-link rounded-0" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </div>
                </div>
            </ul>
        </nav>
    </div>
    <div data-bind="ifnot: isDataLoaded">
        <main class="skeleton row row-cols-3">
            <!-- Skeleton Loader -->
            <article class="col" >
                <div class="card border-0 loading-product">
                    <span class="card-img-top"></span>
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title"></h3>
                        <p class="card-text description"></p>
                        <p class="card-text price"><strong><span></span></strong></p>
                        <a href="#" class="btn text-white"></a>
                    </div>
                </div>
            </article>
            <article class="col" >
                <div class="card border-0 loading-product">
                    <span class="card-img-top"></span>
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title"></h3>
                        <p class="card-text description"></p>
                        <p class="card-text price"><strong><span></span></strong></p>
                        <a href="#" class="btn text-white"></a>
                    </div>
                </div>
            </article>
            <article class="col" >
                <div class="card border-0 loading-product">
                    <span class="card-img-top"></span>
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title"></h3>
                        <p class="card-text description"></p>
                        <p class="card-text price"><strong><span></span></strong></p>
                        <a href="#" class="btn text-white"></a>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>